@import '~styles/vars';

html {
  font-size: 100px;
  font-family: $font-stack;

  @media (min-width: 1400px) {
    font-size: 125px;
  }

  @media (min-width: 2000px) {
    font-size: 150px;
  }
}

body {
  min-height: 100vh;
  font-size: .16rem;

  @include background();
}

code {
  font-family: $font-stack-code;
}

// layout
#app {
  @media (min-width: $latout-breakpoint) {
    display: flex;
  }
}

#app-header {
  @include container;
  @include background($negative-color, $positive-color);
  @include link($negative-color, $positive-color);

  @media (min-width: $latout-breakpoint) {
    min-height: 100vh;
    width: $header-width;
    padding: .32rem;
  }
}

#content-container {
  @include container;
  @include link();
  
  @media (min-width: $latout-breakpoint) {
    width: 100%;
    min-height: 100vh;
    padding: .32rem;
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::selection {
  color: $negative-color;
  background-color: white;
}

*:focus {
  outline: none;
}

// for transition
.slide-fade-enter-active {
  transition: all .4s ease;
}
.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(.15rem);
  opacity: 0;
}

// for icons, 'octicons/build/octicons.css'
.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}
