// .font-hei https://github.com/zenozeng/fonts.css/blob/master/fonts.css
$font-stack: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
$font-stack-code: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
// based on two high-contrast colors
$positive-color: #d3d3d3;
$negative-color: #1f1f1f;
$intermediate-color: rgba($positive-color, .15);

$header-width: 3.2rem;

$latout-breakpoint: 838px;

@mixin container {
  width: 100%;
  float: left;
  padding: .24rem 4%;
}

@mixin side-line($color: $positive-color, $width: .08rem) {
  border-left: $width solid $color;
  padding-left: .16rem;
}

@mixin background($content-color: $positive-color, $background-color: $negative-color) {
  color: $content-color;
  background-color: $background-color;
  background-image:
    linear-gradient(135deg, rgba($content-color, .15) 1px, transparent 0),
    linear-gradient(rgba($content-color, .1) 1px, transparent 0),
    linear-gradient(90deg, rgba($content-color, .1) 1px, transparent 0),
    linear-gradient(90deg, rgba($content-color, .1) 2px, transparent 0);
  background-size:
    16px 16px,
    128px 128px,
    128px 128px,
    512px 512px;
  background-position: 23px 42px;
}

@mixin link($content-color: $positive-color, $background-color: $negative-color) {
  a {
    // text-decoration: none;
    cursor: pointer;
    padding: 0 .04rem;

    &:link, &:visited {
      color: $content-color;
    }

    &:hover {
      color: $background-color;
      background-color: $content-color;
    }
  }
}

// code style based on vscode's default theme: dark+
@mixin code-zone {
  line-height: 1;

  display: block;
  overflow-x: auto;
  background: no-repeat right bottom $intermediate-color;
  background-size: 70%;
  padding: .08rem;

  // language identifer
  &.lang-javascript {
    background-image: url(/assets/img/lang-javascript.svg);
  }


  .hljs-comment,
  .hljs-quote {
    color: #608b4e;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-params,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #9CDCFE;
  }

  .hljs-number{
    color: #b5cea8;
  }

  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type {
    color: #4EC9B0;
  }

  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: #ce9178;
  }

  .hljs-title,
  .hljs-section {
    color: #DCDCAA;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #569cd6;
  }

  .hljs-deletion,
  .hljs-addition {
    color: #22221b;
    display: inline-block;
    width: 100%;
  }

  .hljs-deletion {
    background-color: #ba6236;
  }

  .hljs-addition {
    background-color: #7d9726;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}
