/*
light: #d3d3d3 rgb(211, 211, 211)
dark: #1f1f1f
*/

body {
  margin: 0 5%;
  color: #d3d3d3;
  background-color: #1f1f1f;
  background-image:
    linear-gradient(135deg, rgba(255, 255, 255, .15) 1px, transparent 0),
    linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 0),
    linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 0),
    linear-gradient(90deg, rgba(255, 255, 255, .1) 2px, transparent 0);
  background-size:
    16px 16px,
    128px 128px,
    128px 128px,
    512px 512px;
  background-position: 23px 42px;
}

*::selection {
  color: #1f1f1f;
  background-color: white;
}

*:focus {
  outline: none;
}

button {
  position: relative;
  background: transparent;
  color: #d3d3d3;
  margin: 0 3px;
  border: none;
  border-top: 3px solid #d3d3d3;
  border-bottom: 3px solid #d3d3d3;
  padding: 10px 24px 10px 40px;
  line-height: 16px;
  font-weight: bold;
}
button:focus {
  background: rgba(255, 255, 255, .15);
}
button.mini {
  border-top: 2px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  padding: 6px 16px 6px 26px;
  line-height: 16px;
  font-weight: normal;
}
button::before {
  content: '';
  position: absolute;
  background: #d3d3d3;
  width: 14px;
  height: 14px;
  left: 13px;
  bottom: 11px;
}
button.mini::before {
  width: 10px;
  height: 10px;
  left: 8px;
  bottom: 9px;
}
button:hover {
  background: #d3d3d3;
  color: #1f1f1f;
}
button:hover::before {
  background: #1f1f1f;
}

button:active {
  background: transparent;
  color: #d3d3d3;
}
button:active::before {
  background: #d3d3d3;
}