.bosOW1DZiyC4093YmTX31 {
  position: relative;
  width: 2.5rem;
  height: 1rem;
  cursor: pointer; }
  .bosOW1DZiyC4093YmTX31::after {
    content: "";
    position: absolute;
    left: -0.1rem;
    top: -0.1rem;
    width: 0.1rem;
    height: 0.1rem;
    display: block;
    box-shadow: 0.2rem 0.1rem #666, 0.3rem 0.1rem #666, 0.4rem 0.1rem #666, 0.7rem 0.1rem #666, 1.1rem 0.1rem #666, 1.3rem 0.1rem #666, 1.7rem 0.1rem #666, 1.9rem 0.1rem #666, 2.3rem 0.1rem #666, 0.1rem 0.2rem #666, 0.7rem 0.2rem #666, 1.1rem 0.2rem #666, 1.3rem 0.2rem #666, 1.4rem 0.2rem #666, 1.7rem 0.2rem #666, 2rem 0.2rem #666, 2.2rem 0.2rem #666, 0.1rem 0.3rem #666, 0.4rem 0.3rem #666, 0.5rem 0.3rem #666, 0.7rem 0.3rem #666, 1.1rem 0.3rem #666, 1.3rem 0.3rem #666, 1.5rem 0.3rem #666, 1.7rem 0.3rem #666, 2.1rem 0.3rem #666, 0.1rem 0.4rem #666, 0.5rem 0.4rem #666, 0.7rem 0.4rem #666, 1rem 0.4rem #666, 1.1rem 0.4rem #666, 1.3rem 0.4rem #666, 1.6rem 0.4rem #666, 1.7rem 0.4rem #666, 2rem 0.4rem #666, 2.2rem 0.4rem #666, 0.1rem 0.5rem #666, 0.2rem 0.5rem #666, 0.3rem 0.5rem #666, 0.4rem 0.5rem #666, 0.5rem 0.5rem #666, 0.7rem 0.5rem #666, 0.8rem 0.5rem #666, 0.9rem 0.5rem #666, 1.1rem 0.5rem #666, 1.3rem 0.5rem #666, 1.7rem 0.5rem #666, 1.9rem 0.5rem #666, 2.3rem 0.5rem #666, 2.5rem 0.5rem #666, 1rem 0.7rem #666, 1.3rem 0.7rem #666, 1.4rem 0.7rem #666, 1.5rem 0.7rem #666, 1.8rem 0.7rem #666, 1.9rem 0.7rem #666, 2rem 0.7rem #666, 2.3rem 0.7rem #666, 2.4rem 0.7rem #666, 2.5rem 0.7rem #666, 1.2rem 0.8rem #666, 1.5rem 0.8rem #666, 1.7rem 0.8rem #666, 2.2rem 0.8rem #666, 2.5rem 0.8rem #666, 1rem 0.9rem #666, 1.2rem 0.9rem #666, 1.5rem 0.9rem #666, 1.7rem 0.9rem #666, 1.8rem 0.9rem #666, 1.9rem 0.9rem #666, 2rem 0.9rem #666, 2.2rem 0.9rem #666, 2.5rem 0.9rem #666, 1rem 1rem #666, 1.2rem 1rem #666, 1.5rem 1rem #666, 1.7rem 1rem #666, 2.2rem 1rem #666, 2.3rem 1rem #666, 2.4rem 1rem #666, 2.5rem 1rem #666; }

._6140KRbyE1uYAjTEQTkRk {
  margin: .32rem; }
  ._6140KRbyE1uYAjTEQTkRk ._2JcL9FtfWB-Zd9HJhbIbhr {
    line-height: .48rem;
    margin: .64rem 0; }

